/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* NOTE: set your target theme name (ex: skeleton, wintry, modern, etc) */

:root [data-theme='rocket'] {
	--theme-rounded-base: 20px;
	--theme-rounded-container: 5px;
}
		